<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ncu.dao.BoxDao">
    <resultMap id="result_map" type="cn.edu.ncu.entity.Box">
        <result property="box_id" column="box_id"/>
        <result property="box_state" column="box_state"/>
        <result property="box_number" column="box_number"/>
        <result property="site_id" column="site_id"/>

    </resultMap>

    <select id="getBoxBySiteId" resultMap="result_map">
        select * from switch_box
        where site_id = #{site_id}
        order by box_number
    </select>

    <select id="getBoxByBoxId" resultMap="result_map">
        select * from switch_box
        where box_id = #{box_id}
    </select>

    <select id="getBoxBySiteIdAndBoxState" resultMap="result_map">
        select * from switch_box
        where site_id = #{site_id} and box_state = #{box_state}
    </select>

    <insert id="insertBox">
        insert into switch_box(box_id, site_id, box_number)
        values(#{box_id},#{site_id},#{box_number})
    </insert>

    <update id="updateBoxState">
        update switch_box
        set box_state = #{box_state}
        where box_id = #{box_id}
    </update>
</mapper>